/* Styles for nav links */
body {
  font-family: 'Be Vietnam Pro', sans-serif;
}

.nav-link {
  transition: all .3s;
  font-size: 17.5px;
  padding: 10px 18px;
  /* Make padding consistent */
  margin-left: 12px;
  margin-right: 12px;
  height: 40px;
  /* Ensure consistent height */
  display: flex;
  align-items: center;
  color: inherit;
  font-weight: 400;
}

.navbar {
  height: 105px;
  padding: 0;
  display: flex;
  align-items: center;
  margin-left: -35px;
  padding-right: 80px;
}

.navbar img {
  width: 280px;
  height: auto;
}

.nav-link:hover,
.nav-link.active:hover {
  background-color: #000000;
  color: #fff;
  border-radius: 20px 20px;
}

.nav-link.active {
  color: inherit;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 100%;
}

.content {
  text-align: center;
  padding: 20px 0 10px 0;
  background-color: black;
  color: white;
  width: 100%;
  box-sizing: border-box;
}

footer {
  color: white;
  padding: 20px 0;
  text-align: center;
  margin-top: auto;
  background-image: url('https://assets-global.website-files.com/65026dd496ae11e0661a276e/650a3f3ae6e476e5fe35052d_footer%20bg.jpg');
  background-size: cover;
  background-position: 50%;
  background-attachment: fixed;
  padding-top: 220px;
  padding-bottom: 40px;
}

footer p {
  margin: 0;
  font-size: 18px;
  line-height: 1.5;
}

footer .nav-links {
  margin: 10px 0;
}

footer .nav-links a {
  margin: 0 15px;
  color: white;
  text-decoration: none;
  font-size: 15px;
}

footer .nav-links a:hover {
  text-decoration: underline;
}

footer .social-icons {
  margin: 50px 0;
}

footer .social-icons a {
  margin: 0 10px;
  color: white;
  font-size: 24px;
  text-decoration: none;
}

footer .social-icons a:hover {
  color: #f00;
}

footer .footer-bottom {
  background-color: rgba(34, 34, 34, 0.8);
  padding: 10px 0;
  font-size: 12px;
  color: #c9c9c9d2;
}

footer .footer-bottom p {
  font-size: 10px;
  color: #c9c9c9d2;
}

footer .footer-bottom a {
  color: #c9c9c9d2;
  text-decoration: none;
}

footer .footer-bottom a:hover {
  text-decoration: underline;
}

.main-title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
  max-width: 600px;
  margin: 0 auto;
  white-space: pre-line;
  padding-bottom: 20px;
  line-height: 1.2;
  color: #f9f9f9;
  text-align: center;
  width: 100%;
}

.main-description {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
  max-width: 800px;
  margin: 0 auto;
  color: #7b7b7b;
  text-align: center;
}