/* Combined Header Styles */
body {
  font-family: 'Be Vietnam Pro', sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 100px;
}

.navbar {
  height: 100px;
  padding-left: 80px;
  padding-right: 80px;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  background-color: white;
}

.navbar img {
  height: auto;
  margin-left: -20px;
  max-width: 80%;
}

.nav-link {
  transition: all 0.3s;
  font-size: 16px;
  padding: 10px 18px;
  margin-left: 12px;
  margin-right: 12px;
  height: 40px;
  display: flex;
  align-items: center;
  color: inherit;
  font-weight: 400;
}

.nav-link:hover,
.nav-link.active:hover {
  background-color: #000000;
  color: #fff;
  border-radius: 20px;
}

.nav-link.active {
  color: inherit;
}

/* Content Styles */
.container {
  width: 100%;
  max-width: 100%;
}

/* Footer Styles */
.content {
  text-align: center;
  padding: 20px 0 10px 0;
  background-color: black;
  color: white;
  width: 100%;
  box-sizing: border-box;
}

footer {
  color: white;
  padding: 20px 0;
  text-align: center;
  margin-top: auto;
  background-image: url('https://assets-global.website-files.com/65026dd496ae11e0661a276e/650a3f3ae6e476e5fe35052d_footer%20bg.jpg');
  background-size: cover;
  background-position: 50%;
  background-attachment: fixed;
  padding-top: 220px;
  padding-bottom: 40px;
}

footer p {
  margin: 0;
  font-size: 18px;
  line-height: 1.5;
}

footer .nav-links {
  margin: 10px 0;
}

footer .nav-links a {
  margin: 0 15px;
  color: white;
  text-decoration: none;
  font-size: 15px;
}

footer .nav-links a:hover {
  text-decoration: underline;
}

footer .social-icons {
  margin: 50px 0;
}

footer .social-icons a {
  margin: 0 10px;
  color: white;
  font-size: 24px;
  text-decoration: none;
}

footer .social-icons a:hover {
  color: #f00;
}

footer .footer-bottom {
  background-color: rgba(34, 34, 34, 0.8);
  padding: 10px 0;
  font-size: 12px;
  color: #c9c9c9d2;
}

footer .footer-bottom p {
  font-size: 10px;
  color: #c9c9c9d2;
}

footer .footer-bottom a {
  color: #c9c9c9d2;
  text-decoration: none;
}

footer .footer-bottom a:hover {
  text-decoration: underline;
}

.main-title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
  max-width: 600px;
  margin: 0 auto;
  white-space: pre-line;
  padding-bottom: 20px;
  line-height: 1.2;
  color: #f9f9f9;
  text-align: center;
  width: 100%;
}

.main-description {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
  max-width: 800px;
  margin: 0 auto;
  color: #7b7b7b;
  text-align: center;
}

/* Header Styles for smaller screens */
@media (max-width: 992px) {
  .navbar {
    padding-left: 20px;
    padding-right: 20px;
  }

  .navbar img {
    width: 150px;
    margin-left: 0;
  }

  .nav-link {
    font-size: 15px;
    padding: 8px 12px;
    margin-left: 6px;
    margin-right: 6px;
  }

  /* Styles for full-screen red background on navbar toggler click */
  .navbar-collapse {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: red;
    z-index: 999;
    display: none;
    /* Ẩn mặc định */
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .navbar-collapse.show {
    display: flex;
    /* Chỉ hiện khi có class 'show' */
  }

  .navbar-nav {
    width: 100%;
    text-align: center;
  }

  .nav-item {
    margin: 15px 0;
  }

  .nav-link,
  .nav-link.active {
    font-size: 26px;
    font-weight: 400;
    color: white;
    padding: 10px 20px;
    /* Điều chỉnh padding */
    display: block;
    width: 100%;
    line-height: 1.5;
    /* Thêm line-height để căn giữa theo chiều cao */
  }

  .nav-link:hover,
  .nav-link.active:hover {
    background-color: rgb(0, 0, 0);
    color: white;
  }

  .navbar-toggler {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1001;
  }
}

/* Ensure the styles are not applied to larger screens */
@media (min-width: 993px) {
  .navbar-collapse {
    background-color: transparent !important;
  }
}

.main-content {
    margin: 20px;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
}

.main-content article {
    margin: 0 auto;
    max-width: 800px;
}

h2 {
    color: #333;
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

h3 {
    color: #555;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

p {
    margin-bottom: 1rem;
}

ul, ol {
    margin: 1rem 0;
    padding-left: 1.5rem;
}

ul li, ol li {
    margin-bottom: 0.5rem;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

strong {
    font-weight: bold;
}

header, .main-content {
    padding: 1rem;
}

.tim-hieu-them {
    height: 500px;
    background-image: url('https://assets-global.website-files.com/65026dd496ae11e0661a276e/650bccd230d258040897f131_div.section.png');
    background-size: cover; /* Đảm bảo ảnh bao phủ toàn bộ phần tử */
    background-position: center; /* Đặt ảnh ở giữa phần tử */
    background-repeat: no-repeat; /* Không lặp lại ảnh */
  }
  
  .tim-hieu-them{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
  }
  
  .tim-hieu-them .h1{
    padding: 30px;
    border-bottom: 1px solid whitesmoke;
  }
  
  
.label-container {
    display: flex;
    align-items: center;
    background-color: #fdecec; /* Light pink background */
    border-radius: 20px; /* Rounded edges */
    padding: 5px 5px; /* Padding for some space around the text */
    width: 50%;
    
  }
  .label-text {
    color: #e60000; /* Red color for the label text */
    font-weight: bold;
    font-size: 10px;
    margin-right: 5px; /* Space between label and date */
    background-color: white;
    border-radius: 10px;
    width:50px;
  }
  .date-text {
    color: #888888; /* Gray color for the date text */
    font-size: 10px;
  }
  .tieu-de{
    color: black;
    text-align: left !important; 
    margin-top: 30px;
  
  }
  
  .image-container {
    overflow: hidden;
    border-radius: 10px; 
  }
  
  .zoom-image {
    width: 100%;
    height: auto;
    transition: 0.2s ease;
  }
  
  .zoom-image:hover {
    transform: scale(1.05);
  }
  
  .link-container {
    transition: transform 0.3s ease;
    color: red;
    cursor: pointer; 
  }
  
  .arrow-icon {
    display: inline-block;
    margin-left: 5px;
    transform: rotate(120deg);
    transition: transform 0.3s ease;
  }
  .link-container:hover .arrow-icon {
    transform: rotate(180deg); /* Rotate the arrow icon to horizontal */
  }
  .search-box{
    width: 100%;
  
    display: flex;
  }
  .box-container{
    width: 70%;
  }
@media (max-width: 1200px) {
  .tim-hieu-them{
    height: 1200px;
  }
  

}
  @keyframes slideUp{
    to {
      opacity: 1;
      transform: translateY(0);
  }
  
  }
  .animation{
    opacity: 0;
    transform: translateY(50px);
    animation: slideUp 0.5s forwards;
    animation-delay: 0.5s;
    margin-bottom:30px;
  }
  