/* Combined Header Styles */
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Be Vietnam Pro', sans-serif;
  color: #333;
  overflow-x: hidden;
}

.navbar {
  height: 100px;
  padding-left: 120px;
  padding-right: 80px;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  background-color: white;
}

.navbar img {
  height: auto;
  max-width: 80%;
}

.nav-link {
  transition: all 0.3s;
  font-size: 16px;
  padding: 10px 18px;
  margin-left: 12px;
  margin-right: 12px;
  height: 40px;
  display: flex;
  align-items: center;
  color: inherit;
  font-weight: 400;
}

.nav-link:hover,
.nav-link.active:hover {
  background-color: #000000;
  color: #fff;
  border-radius: 20px;
}

.nav-link.active {
  color: inherit;
}

/* Background Video */
.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* Content Styles */
.container,
.section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
  /* Adjust padding to move content to the left */
  padding-right: 30%;
  text-align: left;
}

.container {
  height: 100vh;
}

.content {
  max-width: 800px;
  width: 100%;
  padding: 20px;
  z-index: 1;
  position: relative;
}

h1 {
  font-size: 56px;
  font-weight: bold;
  margin: 0;
  line-height: 1.2;
}

p {
  font-size: 18px;
  margin: 20px 0;
  color: #666;
}

.btn {
  display: inline-block;
  padding: 15px 30px;
  font-size: 16px;
  color: white;
  background-color: #d80000;
  text-decoration: none;
  border-radius: 40px;
  margin-top: 20px;
}

.btn:hover {
  background-color: #a60000;
}

.section {
  background: linear-gradient(to bottom right, #0b5a81, #011c36);
  color: white;
  padding: 60px 20px;
  clip-path: polygon(0 10%, 100% 0, 100% 85%, 0 100%);
  margin: 40px 0;
  padding-left: 30px;
  /* Adjust padding to move content to the left */
  padding-right: 30%;
  text-align: left;
}

.section h2 {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.section .highlight {
  color: #ff3333;
}

.mission-intro {
  color: #ffffff;
  margin-bottom: 20px;
}

.mission-goals p {
  color: #c2c2c2;
  line-height: 1.8;
}

/* Footer Styles */
footer {
  color: white;
  padding: 20px 0;
  text-align: center;
  margin-top: auto;
  background-image: url('https://assets-global.website-files.com/65026dd496ae11e0661a276e/650a3f3ae6e476e5fe35052d_footer%20bg.jpg');
  background-size: cover;
  background-position: 50%;
  background-attachment: fixed;
  padding-top: 220px;
  padding-bottom: 40px;
}

footer p {
  margin: 0;
  font-size: 18px;
  line-height: 1.5;
}

footer .nav-links {
  margin: 10px 0;
}

footer .nav-links a {
  margin: 0 15px;
  color: white;
  text-decoration: none;
  font-size: 15px;
}

footer .nav-links a:hover {
  text-decoration: underline;
}

footer .social-icons {
  margin: 50px 0;
}

footer .social-icons a {
  margin: 0 10px;
  color: white;
  font-size: 24px;
  text-decoration: none;
}

footer .social-icons a:hover {
  color: #f00;
}

footer .footer-bottom {
  background-color: rgba(34, 34, 34, 0.8);
  padding: 10px 0;
  font-size: 12px;
  color: #c9c9c9d2;
}

footer .footer-bottom p {
  font-size: 10px;
  color: #c9c9c9d2;
}

footer .footer-bottom a {
  color: #c9c9c9d2;
  text-decoration: none;
}

footer .footer-bottom a:hover {
  text-decoration: underline;
}

.main-title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
  max-width: 600px;
  margin: 0 auto;
  white-space: pre-line;
  padding-bottom: 20px;
  line-height: 1.2;
  color: #f9f9f9;
  text-align: center;
  width: 100%;
}

.main-description {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
  max-width: 800px;
  margin: 0 auto;
  color: #7b7b7b;
  text-align: center;
}

/* Header Styles for smaller screens */
@media (max-width: 992px) {
  .navbar {
    padding-left: 20px;
    padding-right: 20px;
  }

  .navbar img {
    width: 150px;
    margin-left: 20px;
  }

  .nav-link {
    font-size: 15px;
    padding: 8px 12px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .navbar-collapse {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: red;
    z-index: 999;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .navbar-collapse.show {
    display: flex;
  }

  .navbar-nav {
    width: 100%;
    text-align: center;
  }

  .nav-item {
    margin: 15px 0;
  }

  .nav-link,
  .nav-link.active {
    font-size: 26px;
    font-weight: 400;
    color: white;
    padding: 10px 20px;
    display: block;
    width: 100%;
    line-height: 1.5;
  }

  .nav-link:hover,
  .nav-link.active:hover {
    background-color: rgb(0, 0, 0);
    color: white;
  }

  .navbar-toggler {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1001;
  }

  h1 {
    font-size: 36px;
  }

  .section h2 {
    font-size: 28px;
  }

  .btn {
    padding: 10px 20px;
    font-size: 14px;
  }

  .container,
  .section {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 993px) {
  .navbar-collapse {
    background-color: transparent !important;
  }
}